#sidebar {
  width: 15vw;
  height: 92vh;
  background: #2b55ff;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #2b55ff;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul li {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  cursor: pointer;
}

#sidebar ul li:hover {
  color: #7386d5;
  background: #fff;
}
.name-tab {
  margin: 50px;
  cursor: pointer;
}
